.test__wrapper {
    background-color: #eee;
    height: 100vh;
    padding: 1.5rem;
}

.test__category {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.35rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 1rem 0;
    padding: 0 1rem;
}

.test__cards {
    display: flex;
    justify-content: center;
}

.test__notfound {
    display: inline-block;
    max-width: 18px;
    padding: 1.5rem;
    font-family: 'Roboto', Arial, sans-serif;
    color: #000;
    background-color: #ddd;
    margin: auto;
}