.container {
    min-width: 320px;
    max-width: 1200px;
    background-color: #f0f1f1;
    margin: auto;
}

.section {
    width: 100%;
    margin: auto;
    background-color: #fff;
}

.title {
    color: #f00;
    text-align: center;
}

.sub-title {
    width: 40%;
    display: block;
    margin: auto;
    text-align: justify;
    margin-bottom: 3rem;
}

.section__main {
    display: flex;
    justify-content: space-between;
}

.main__box {
    flex-basis: 30%;
    margin-top: 5rem;
}

.main__box:nth-child(2) {
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.box__task {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.5rem solid #8ac24a;
    margin: auto;
}

.css-box {
    border: 0.5rem solid #ffc007;
}

.java-box {
    border: 0.5rem solid #ec1c24;
}

.main__span {
    padding: 1rem;
    border-radius: 50%;
    background-color: #f0f1f1;
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .container {
        padding: 4rem 6rem;
    }

    .section {
        width: 90%;
    }

    .sub-title {
        width: 40%;
        display: block;
        margin: auto;
        text-align: justify;
        margin-bottom: 3rem;
    }

    .section__main {
        display: flex;
        justify-content: space-between;
    }

    .main__box {
        flex-basis: 30%;
        margin-top: 5rem;
    }

    .main__box:nth-child(2) {
        margin-top: 15rem;
        margin-bottom: 5rem;
    }

    .main__span {
        padding: 1rem;
        border-radius: 50%;
    }
}